body {
  color:#333333;
  font-family: arial;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  min-height: 100vh;
}


h1 {
  font-size: 64px;
  margin-bottom: 16px;
}


/* Flexbox design */
.container {
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: center
}
  
.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.container p {
  display: inline-block;
}

.container p:last-child{
  float: right;
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background:  #888888;
  color: white;
  padding: 8px;
}

button:hover {
  color: gold;
}

/* SVG  */
.face {
fill: gold;
}

.mouth {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
  transform-origin: 102px 84px;
  transition: all .5s linear;
}

.left-eyebrow {
  transform: rotate(80deg);
  transform-origin: 102px 84px;
  transition: all .5s linear;
}

.right-eyebrow {
  transform: rotate(100deg);
  transform-origin: 158px 84px;
  transition: all .5s linear;
}

.smiley:hover .left-eyebrow {
  transform: rotate(100deg);
}

.smiley:hover .right-eyebrow {
  transform: rotate(80deg);
}

.smiley:hover .mouth {
  transform: rotate(-10deg);
}
